* {
	font-family: Verdana, "sans-serif";
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: left;
}

.grid-item-odd{
	background-color: rgba(255, 255, 255, 0.8);
 	border: 1px solid rgba(0, 0, 0, 0.8);
 	padding: 20px;
 	font-size: 30px;
 	text-align: right;
}

h1 {
	text-align: center;
}

#description {
	text-align: center;

}

#survey-form{

}

.input-field {
    height: 20px;
    width: 280px;
    padding: 5px;
    margin: 10px;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
}

.labels{
	margin-top: 10px;
}

.name-label {
	display: inline-block;
    text-align: right;
    width: 40%;
    padding: 5px;
    vertical-align: top;
}